body {
  background-color: #bdc3c7;
}

#search-container {
  height: 3vh;
}

#search {
  height: 100%;
}

#search-btn {
  height: 100%;
}

.empty-image {
  width: 100px;
  height: 100px;
  background-color: white;
}

#images-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

/* .image {
  width: 100%;
} */

.image img {
  max-width:100%;
  height: auto;
}